<mjml>
  <mj-head>
    <mj-attributes>
      <mj-title>Normandy Builders | Free Seminar | Secrets of the Kitchen</mj-title>

      <!-------------------------------------------------------------- Colors ------------------------------------------------------- 
Border Color, Horizontal Rule & Copy - #61616D
Header & Presenter Text Color - #809CAA
Footer Background - #E5EBEE
------------------------------------------------------------------------------------------------------------------------------>

      <!----------------------------------------------------------- Global Styles -------------------------------------------------->
      <mj-all font-family="Open Sans" color="#65646A" />
      <mj-font name="Open Sans" href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
      <mj-button align="left" background-color="#7F9BA9" color="#FFFFFF" text-transform="uppercase" font-size="16px" border="0px #C7D7ED solid" border-radius="0px" font-weight="bold" />
      <mj-image border="none" padding="0px" />
      <mj-section padding="0px" />

      <!----------------------------------------------------------- Classes Styles -------------------------------------------------->
      <mj-class name="bold-text" font-weight="bold" />
      <mj-class name="extralarge-text" font-size="42px" line-height="40px" color="#61616D" />
      <mj-class name="large-text" font-size="32px" line-height="40px" color="#809CAA" />
      <mj-class name="medium-text" font-size="23px" line-height="30px" color="#809CAA" />
      <mj-class name="small-text" font-size="20px" line-height="26px" />
      <mj-class name="xxsmall-text" font-size="15px" />
      <mj-class name="xxxsmall-text" font-size="11px" />
      <mj-class name="text-align-center" align="center" />
      <mj-class name="text-align-left" align="left" />
      <mj-class name="text-align-right" align="right" />
      <mj-class name="headline-line" line-height="40px" />
      <mj-class name="blue-color-text" color="#809CAA" />
      <mj-class name="link" text-decoration="underline" />
      <mj-class name="uppercase" text-transform="uppercase" />
    </mj-attributes>

    <mj-style>
      .presenter-name {text-transform: uppercase; font-weight: bold;} .footer-bold-text {font-weight: 900;} .button {width: 200px; height: 200px;} .link {text-decoration: underline;}
    </mj-style>

  </mj-head>

  <mj-body>

    <!-------------------------------------------------------------- Head ---------------------------------------------------------->

    <mj-container>

      <!-- Headline & Permalink -->
      <mj-section>
        <mj-group>
          <mj-column>
            <mj-text mj-class="xxxsmall-text">[[HEADLINE]]</mj-text>
          </mj-column>
          <mj-column>
            <mj-text align="right" mj-class="xxxsmall-text"><a href="#" style="text-decoration: underline; color: #65646A !important;">[[PERMALINK]]</a>
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <!-- Header Copy -->
      <mj-section padding-top="10" padding-bottom="10">
        <mj-column>
          <mj-text padding-bottom="2" mj-class="extralarge-text bold-text text-align-center uppercase">LEARN HOW TO DESIGN</mj-text>
          <mj-text padding-top="2" mj-class="large-text medium-bold-text text-align-center">the Ideal Kitchen</mj-text>
        </mj-column>
      </mj-section>

      <!---------------------------------------------------------- Main Content ------------------------------------------------------>

      <!-- Kitchen Image -->

      <mj-section>
        <mj-column>
          <mj-image src="http://www.davidmermelstein.com/projects/header-image3.jpg" alt="Kitchen"></mj-image>
        </mj-column>
      </mj-section>

      <!-- Learn How Copy -->
      <mj-section>
        <mj-column>
          <mj-text mj-class="xxsmall-text text-align-left" padding-top="20px">Learn how to maximize your kitchen’s functionality while making textures, colors and styles meld together to create a kitchen that is uniquely you.
          </mj-text>
        </mj-column>
      </mj-section>


      <!-- Date & Call To Actions -->
      <mj-section>
        <mj-column>
          <mj-text mj-class="medium-text text-align-left bold-text uppercase" padding-bottom="10px">
            Saturday January 7,<br /> 10:30 am-12:30 pm</mj-text>
          <mj-divider border-width="2px" border-style="solid" border-color="#61616D" />
        </mj-column>
      </mj-section>


      <!-- Bio Image -->

      <mj-section>
        <mj-column width="21.333333%">
          <mj-image width="120px" border="2px solid #61616D" align="left" padding-left="26"src="http://www.davidmermelstein.com/projects/presenter-photo.png" alt="Kathryn O'Donavon">
          </mj-image>
        </mj-column>

        <!-- Bio Copy -->
        <mj-column width="78.666666%">
          <mj-text mj-class="small-text blue-color-text" padding-top="20"><span class="medium-bold-text">Presented by Normandy Designer</span><br />
            <span class="presenter-name link">Kathryn O'Donovan</span></mj-text>
        </mj-column>
      </mj-section>

      <!-- Reserve Copy -->
      <mj-section>
        <mj-column>
          <mj-divider border-width="2px" border-style="solid" border-color="#61616D" />
          <mj-text mj-class="xxsmall-text">
            Reserve your spot at the seminar, or schedule a free in-home consultation.
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- Get YOur Free Ticket Button Call To Action -->
      <mj-section>
        <mj-column>
          <mj-button href="https://www.normandyremodeling.com/events">GET YOUR FREE TICKETS!</mj-button>
        </mj-column>

        <!-- Talk To A Designer Button Call To Action -->
        <mj-column>
          <mj-button href="https://www.normandyremodeling.com/contact-us#form">TALK TO A DESIGNER</mj-button>
        </mj-column>
      </mj-section>

      <!--  See What Happens At One Of Our Seminars Copy-->
      <mj-section>
        <mj-column>
          <mj-text mj-class="xxsmall-text">See what happens at one of our seminars.</mj-text>
        </mj-column>
      </mj-section>

      <!-- Video Image -->
      <mj-section>
        <mj-column>
          <mj-image width="240px" align="left" padding-left="20px" padding-bottom="20px" src="http://www.davidmermelstein.com/projects/v2-normandy-video-graphic.jpeg" alt="Watch seminar video."></mj-image>
        </mj-column>
      </mj-section>

      <!----------------------------------------------------------------- Footer ----------------------------------------------------->

      <mj-section background-color="#E5EBEE" border-top="2px solid grey">
        <!-- Get Directions Button Call To Action -->
        <mj-column width="26.333333%">
          <mj-button padding-top="20px" href="https://www.normandyremodeling.com">GET DIRECTIONS</mj-button>
        </mj-column>

        <!-- Get Inspired, Days, Hours Copy -->
        <mj-column width="52.333333%">
          <mj-text padding-top="20px" mj-class="xxxsmall-text" line-height="1.30">
            Get Inspired at Our Hinsdale Design Showroom: <br /> 440 E. Ogden Avenue <br /> Mon-Fri, 9am - 5pm ・Sat 9am - 4pm <br />

            <!-- Phone # & Web Address -->
            <mj-text>
              <span class="footer-bold-text">847.291.7701・
        <a style="text-decoration: underline; color: #65646A !important;" href="http://www.normandyremodeling.com">NormandyRemodeling.com</span></a>
            </mj-text>
        </mj-column>

        <!-- Logo -->
        <mj-column width="20.33333333%">
          <mj-image padding-top="16px" padding-right="20px" href="https://www.normandyremodeling.com" src="http://www.davidmermelstein.com/projects/logo.png" alt="Normandy"></mj-image>
        </mj-column>

      </mj-section>

      <!-- Website Specific Navigation Links -->
      <mj-navbar background-color="#E5EBEE">
        <mj-column width="100%">
          <mj-inline-links base-url="https://www.normandyremodeling.com" mj-class="link">
            <mj-link href="/design-ideas/kitchen-remodeling">Kitchens&#xA0;&#xA0;&#xA0;&#xA0;|</mj-link>
            <mj-link href="/design-ideas/home-additions">Additions&#xA0;&#xA0;&#xA0;&#xA0;|</mj-link>
            <mj-link href="/design-ideas/bathroom-remodeling">Bathrooms&#xA0;&#xA0;&#xA0;&#xA0;|</mj-link>
            <mj-link href="/design-ideas/home-remodeling">Renovations</mj-link>
          </mj-inline-links>
        </mj-column>
      </mj-navbar>


      <mj-section>
        <mj-column>
          <mj-spacer height="100px" />
        </mj-column>

      </mj-section>


    </mj-container>
  </mj-body>